.info2 {
    padding: 12px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
  
.info2 h4 {
    margin: 0 0 5px;
    color: #777;
}

.gradientLegend {
    font-size: 20px;
    text-align: center;
    color: #555;
}

.gradientLegend i {
    width: 28px;
    height: 8px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

@media screen and (max-height: 1080px) {
    .gradientLegend {
        font-size: 18px;
        text-align: center;
        color: #555;
    }
    .gradientLegend i {
        width: 25px;
        height: 200px;
        float: left;
        margin-right: 8px;
    }
}

@media screen and (max-height: 720px) {
    .gradientLegend {
        font-size: 14px;
        text-align: center;
        color: #555;
    }
    .gradientLegend i {
        width: 20px;
        height: 5px;
        float: left;
        margin-right: 8px;
    }
}